<a href="https://colab.research.google.com/github/govindpande/AWS-CheatSheet/blob/master/JP_Assignment_15_05_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
#1) Create a DataFrame in Pandas which contain 10 rows and 10 colums?

import pandas as pd
import numpy as np

# Create a 10x10 DataFrame with random values
data = np.random.rand(10, 10)
df = pd.DataFrame(data)

print(df)

          0         1         2         3         4         5         6  \
0  0.026590  0.971876  0.203826  0.905283  0.112466  0.293298  0.613979
1  0.989677  0.199274  0.737218  0.143221  0.321061  0.341843  0.541648
2  0.855676  0.795791  0.832921  0.044037  0.683261  0.381626  0.450234
3  0.427331  0.025244  0.959676  0.993377  0.309823  0.710833  0.468973
4  0.268554  0.298996  0.065252  0.985173  0.324231  0.027561  0.032663
5  0.506682  0.524687  0.343152  0.271510  0.157508  0.383682  0.049457
6  0.507922  0.375549  0.250212  0.231264  0.163280  0.675884  0.287331
7  0.484442  0.621623  0.069286  0.919665  0.749581  0.981237  0.177482
8  0.897809  0.683800  0.213553  0.582003  0.316789  0.233620  0.793755
9  0.634325  0.482948  0.719328  0.614086  0.878131  0.623177  0.922626

          7         8         9
0  0.091295  0.526313  0.842673
1  0.303746  0.394881  0.680899
2  0.382750  0.776890  0.419295
3  0.804541  0.953345  0.436552
4  0.998091  0.803471  0.411174
5  0.130133  0.538036  0.687154
6  0.991432  0.077437  0.201344
7  0.618089  0.158321  0.725175
8  0.910319  0.705791  0.255327
9  0.636734  0.155716  0.166402

In [24]:
#2) Write a function to calculate the mean of a specific column in a DataFrame
def calculate_column_mean(df, column_name):

    column_mean = df[column_name].mean()
    return column_mean
  
calculate_column_mean(df, 2)

0.4394423153594461

In [44]:
#3) How do you handle missing values in a DataFrame? Use a CSV and handle missing values in it?

df1 = pd.read_csv("ckd.csv")
def handle_missing_values(df):
    null_counts = df.isnull().sum()
    columns_to_impute = null_counts[null_counts < 20].index
    
    for column in columns_to_impute:
        if df[column].dtype == 'object':
            # Categorical column: fill with mode
            df[column] = df[column].fillna(df[column].mode().iloc[0])
        else:
            # Numerical column: fill with mean
            df[column] = df[column].fillna(df[column].mean())
    
    # Drop rows with any null values
    df = df.dropna()
    
    
    return df

cleaned_df = handle_missing_values(df1)
cleaned_df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,notpresent,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,present,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [26]:
#4) How do you rename columns in a DataFrame? Rename 3 columns in the dataframe you created on the top

df = df.rename(columns={0:"first_column", 1: "second_column",2:"third_column"})
df

,first_column,second_column,third_column,3,4,5,6,7,8,9
0,0.026590,0.971876,0.203826,0.905283,0.112466,0.293298,0.613979,0.091295,0.526313,0.842673
1,0.989677,0.199274,0.737218,0.143221,0.321061,0.341843,0.541648,0.303746,0.394881,0.680899
2,0.855676,0.795791,0.832921,0.044037,0.683261,0.381626,0.450234,0.382750,0.776890,0.419295
3,0.427331,0.025244,0.959676,0.993377,0.309823,0.710833,0.468973,0.804541,0.953345,0.436552
4,0.268554,0.298996,0.065252,0.985173,0.324231,0.027561,0.032663,0.998091,0.803471,0.411174
5,0.506682,0.524687,0.343152,0.271510,0.157508,0.383682,0.049457,0.130133,0.538036,0.687154
6,0.507922,0.375549,0.250212,0.231264,0.163280,0.675884,0.287331,0.991432,0.077437,0.201344
7,0.484442,0.621623,0.069286,0.919665,0.749581,0.981237,0.177482,0.618089,0.158321,0.725175
8,0.897809,0.683800,0.213553,0.582003,0.316789,0.233620,0.793755,0.910319,0.705791,0.255327
9,0.634325,0.482948,0.719328,0.614086,0.878131,0.623177,0.922626,0.636734,0.155716,0.166402

In [33]:
#5) How can you filter rows of a DataFrame by column value?
df_2 = df[df["first_column"]>0.5]
df_2

,first_column,second_column,third_column,3,4,5,6,7,8,9
1,0.989677,0.199274,0.737218,0.143221,0.321061,0.341843,0.541648,0.303746,0.394881,0.680899
2,0.855676,0.795791,0.832921,0.044037,0.683261,0.381626,0.450234,0.382750,0.776890,0.419295
5,0.506682,0.524687,0.343152,0.271510,0.157508,0.383682,0.049457,0.130133,0.538036,0.687154
6,0.507922,0.375549,0.250212,0.231264,0.163280,0.675884,0.287331,0.991432,0.077437,0.201344
8,0.897809,0.683800,0.213553,0.582003,0.316789,0.233620,0.793755,0.910319,0.705791,0.255327
9,0.634325,0.482948,0.719328,0.614086,0.878131,0.623177,0.922626,0.636734,0.155716,0.166402

In [38]:
#6) Write a code snippet to group a DataFrame by a specific column and then calculate the sum of another column.

grouped_df = df1.groupby('class')['age'].sum()
grouped_df1 = df1.groupby('class')['age'].mean()


grouped_df
grouped_df1

class
ckd       57.147349
notckd    46.770492
Name: age, dtype: float64

In [39]:
#7) How do you merge two DataFrames in Pandas along a specific column?
df3 = df

merged_df = pd.merge(df,df3, on= "first_column")
merged_df

,first_column,second_column_x,third_column_x,3_x,4_x,5_x,6_x,7_x,8_x,9_x,second_column_y,third_column_y,3_y,4_y,5_y,6_y,7_y,8_y,9_y
0,0.026590,0.971876,0.203826,0.905283,0.112466,0.293298,0.613979,0.091295,0.526313,0.842673,0.971876,0.203826,0.905283,0.112466,0.293298,0.613979,0.091295,0.526313,0.842673
1,0.989677,0.199274,0.737218,0.143221,0.321061,0.341843,0.541648,0.303746,0.394881,0.680899,0.199274,0.737218,0.143221,0.321061,0.341843,0.541648,0.303746,0.394881,0.680899
2,0.855676,0.795791,0.832921,0.044037,0.683261,0.381626,0.450234,0.382750,0.776890,0.419295,0.795791,0.832921,0.044037,0.683261,0.381626,0.450234,0.382750,0.776890,0.419295
3,0.427331,0.025244,0.959676,0.993377,0.309823,0.710833,0.468973,0.804541,0.953345,0.436552,0.025244,0.959676,0.993377,0.309823,0.710833,0.468973,0.804541,0.953345,0.436552
4,0.268554,0.298996,0.065252,0.985173,0.324231,0.027561,0.032663,0.998091,0.803471,0.411174,0.298996,0.065252,0.985173,0.324231,0.027561,0.032663,0.998091,0.803471,0.411174
5,0.506682,0.524687,0.343152,0.271510,0.157508,0.383682,0.049457,0.130133,0.538036,0.687154,0.524687,0.343152,0.271510,0.157508,0.383682,0.049457,0.130133,0.538036,0.687154
6,0.507922,0.375549,0.250212,0.231264,0.163280,0.675884,0.287331,0.991432,0.077437,0.201344,0.375549,0.250212,0.231264,0.163280,0.675884,0.287331,0.991432,0.077437,0.201344
7,0.484442,0.621623,0.069286,0.919665,0.749581,0.981237,0.177482,0.618089,0.158321,0.725175,0.621623,0.069286,0.919665,0.749581,0.981237,0.177482,0.618089,0.158321,0.725175
8,0.897809,0.683800,0.213553,0.582003,0.316789,0.233620,0.793755,0.910319,0.705791,0.255327,0.683800,0.213553,0.582003,0.316789,0.233620,0.793755,0.910319,0.705791,0.255327
9,0.634325,0.482948,0.719328,0.614086,0.878131,0.623177,0.922626,0.636734,0.155716,0.166402,0.482948,0.719328,0.614086,0.878131,0.623177,0.922626,0.636734,0.155716,0.166402

In [41]:
#8) Write a function to convert the index of a DataFrame into a column.

def convert_index_to_column(df):

    df_with_index_as_column = df.reset_index()
    return df_with_index_as_column
  
converted_df = convert_index_to_column(df1)
converted_df

,index,id,age,bp,sg,al,su,rbc,pc,pcc,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
0,3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
1,9,9,53.0,90.0,1.020,2.0,0.0,abnormal,abnormal,present,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
2,11,11,63.0,70.0,1.010,3.0,0.0,abnormal,abnormal,present,...,32,4500,3.8,yes,yes,no,poor,yes,no,ckd
3,14,14,68.0,80.0,1.010,3.0,2.0,normal,abnormal,present,...,16,11000,2.6,yes,yes,yes,poor,yes,no,ckd
4,20,20,61.0,80.0,1.015,2.0,0.0,abnormal,abnormal,notpresent,...,24,9200,3.2,yes,yes,yes,poor,yes,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
162,396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
163,397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
164,398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
165,399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [42]:
#9) How do you apply a function to a DataFrame column? Write a function to find square and apply on specific column?

def square_column(df,column_name):
  squared_column = df[column_name].apply(lambda x:x**2)
  return squared_column
square_column(df,"first_column")

0    0.000707
1    0.979461
2    0.732182
3    0.182612
4    0.072121
5    0.256727
6    0.257984
7    0.234684
8    0.806062
9    0.402369
Name: first_column, dtype: float64

In [45]:
#10) How do you save a DataFrame to a CSV file? Save a cleaned CSV file
#saves clean csv file to the root folder
cleaned_df.to_csv("clean_ckd.csv")